@font-face {
    font-family: "Sunny Spells";
    src: url(./fonts/Sunny-Spells.ttf);
}

:root {
    font-family: "Sunny Spells";
}

.new-book {
    font-family: "Sunny Spells";
    font-size: 2rem;
}

.books {
    display: flex;
    justify-content: center;
    align-items: center;
}

td {
    font-size: 2rem;
    padding-right: 7rem;  
    padding-left: 7rem;
    padding-top: 1rem;
}

#add {
    font-family: "Sunny Spells";
    font-size: 2rem;
    background: none;
    border: none;
}

#add:hover {
    color: blue;
}